*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: flex;
    align-items:centrer;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius:20px;
    border-radius: 20px;
    padding: 40%;
    width: 60%;
    max-width: 500px;
    
}

#image-wrapper{

    max-width : 300px;
}

#image{
    width:300px
}

#header{
    padding: 20px;
    display: flex;
    font-size: 30px;
}

#number {
    margin-right: 15px;
}

#name {
    text-transform: capitalize;
}

#button {
    background-color: coral;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    padding: 10px  100px;
    cursor: pointer;
    transition:all 0.2s ease;
}

#button:hover {
    transform: translateY(-2);
    background-color: rgba(255, 127, 80, 0.692);
}