[id*='A_']{
    cursor:pointer;
}
[id*='B_']{
    cursor:pointer;
}
[id*='C_']{
    cursor:pointer;
}
[id*='D_']{
    cursor:pointer;
}
[id*='E_']{
    cursor:pointer;
}
[id*='F_']{
    cursor:pointer;
}
[id*='G_']{
    cursor:pointer;
}
